@model IEnumerable<MahJong.Models.databases.BookDetail>
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <td>เลขที่</td>
                        <td>ชื่อ</td>
                        <td>ราคารวม</td>
                        <td>วันที่จอง</td>
                        <td>ร้าน</td>
                        <td>ชื่อโต๊ะ</td>
                        <td>เบอร์โทร</td>
                        <td>สถานะการจอง</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><bunton class="btn-link" id="callmodel" data-toggle="modal" data-target="#showslip" data-whatever="@item.BId">@Html.DisplayFor(modelItem => item.BId)</bunton></td>
                            <td>@Html.DisplayFor(modelItem => item.B.C.CFname) @Html.DisplayFor(modelItem => item.B.C.CLname)</td>
                            <td>@Html.DisplayFor(modelItem => item.B.BPriceTotal)</td>
                            <td>@Html.DisplayFor(modelItem => item.B.BDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.T.S.SName)</td>
                            <td>@Html.DisplayFor(modelItem => item.T.TName)</td>
                            <td>@Html.DisplayFor(modelItem => item.B.C.CTel)</td>
                            <td>@Html.DisplayFor(modelItem => item.BdStatus)</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal สลิป -->
<div class="modal fade" id="showslip" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">รายละเอียดโต๊ะ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" id="image_order" />
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-danger">ไม่ถูกต้อง</button>
                    <button type="button" class="btn btn-success">ยืนยันสลิป</button>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
