@model MahJong.Models.databases.Store
@using MahJong.Models.databases
@{
    ViewData["Title"] = "Storedetail";
    Layout = "~/Views/Shared/_MahjongLayout.cshtml";
}

<!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(/mahjong/img/@Html.DisplayFor(model => model.SName)/background.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>@Html.DisplayFor(item => item.SName)</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container fontkanit" style="margin-top:5%;">
    <p style="font-size:18px">เวลาปิดการจอง : <span>@Html.DisplayFor(item => item.SCloseTime)</span></p>
    <p style="font-size:18px">ว่าง : <span>25 โต๊ะ</span></p>
</div>

<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3 ml-3">
                    <div class="row">
                        <h2 class="fontkanit">จองโต๊ะ</h2>
                    </div>
                </div>
                <div class="row ml-3">
                    <button class="btn btn-success mr-2">ว่าง</button>
                    <button class="btn btn-danger">ไม่ว่าง</button>
                </div>
                <div class="text-center">
                    @foreach (var item in ViewData["store_table"] as IList<Table>)
                    {
                        <a asp-controller="Mahjong" asp-action="Booktable" asp-route-sid="@item.SId.ToString()" asp-route-tid="@item.TName.ToString()">
                            <button class="btn btn-success m-2" style="width:55px">@item.TName</button>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>